In [4]:
import pandas as pd
import os
csv_path='D:\machine_learning_Data\한국 부동산 데이터 시각화 경진대회_data'
csv_list=os.listdir(csv_path)
csv_list_py=[file for file in csv_list if file.endswith('csv')]

In [5]:
csv_list_py

['건축허가현황.csv',
 '국내건설수주액.csv',
 '미분양주택현황.csv',
 '아파트 실거래가격지수.csv',
 '유형별_주택월세통합가격지수.csv',
 '주택건설인허가실적.csv',
 '주택매매가격지수(KB).csv',
 '주택전세가격지수(KB).csv',
 '지역별_지가변동률.csv']

In [15]:
df=pd.read_csv('D:\machine_learning_Data\한국 부동산 데이터 시각화 경진대회_data\\주택건설인허가실적.csv')
df.sort_values(by=['Unnamed: 0'])

,Unnamed: 0,전국[호],부산[호],충북[호],충남[호],대구[호],대전[호],강원[호],광주[호],경기[호],...,전북[호],전남[호],경북[호],경남[호],민간부문[호],공공부문[호],부문별[호],세종[호],서울[호],울산[호]
0,2007-01-01,12038.0,455.0,188.0,1004.0,818.0,55.0,452.0,1022.0,2647.0,...,888.0,206.0,698.0,1691.0,11718.0,320.0,12038.0,NaN,1530.0,183.0
1,2007-02-01,29789.0,1554.0,493.0,2310.0,3549.0,89.0,642.0,2200.0,5517.0,...,1490.0,700.0,2942.0,4206.0,28311.0,1478.0,29789.0,NaN,2324.0,1356.0
2,2007-03-01,49827.0,3675.0,1187.0,4200.0,4596.0,154.0,1031.0,3547.0,8705.0,...,2153.0,1091.0,5256.0,6527.0,48285.0,1542.0,49827.0,NaN,4212.0,2041.0
3,2007-04-01,69013.0,4039.0,1651.0,4901.0,5110.0,235.0,2185.0,3773.0,12692.0,...,2627.0,2310.0,6480.0,7576.0,67439.0,1574.0,69013.0,NaN,6175.0,4322.0
4,2007-05-01,100210.0,4936.0,2331.0,7988.0,5685.0,746.0,2698.0,5844.0,25860.0,...,3542.0,2663.0,7330.0,12754.0,96172.0,4038.0,100210.0,NaN,8041.0,4566.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2020-10-01,326237.0,12436.0,8367.0,19151.0,22526.0,13211.0,9854.0,10123.0,108095.0,...,10359.0,14798.0,7400.0,13881.0,310225.0,16012.0,326237.0,2381.0,45625.0,6444.0
166,2020-11-01,360711.0,13157.0,9068.0,21628.0,22797.0,16600.0,10592.0,10307.0,119766.0,...,11639.0,15979.0,7945.0,16430.0,339738.0,20973.0,360711.0,2451.0,50457.0,6517.0
167,2020-12-01,457514.0,19145.0,11729.0,24460.0,28063.0,16951.0,12438.0,10512.0,165375.0,...,13153.0,17444.0,12230.0,23206.0,375713.0,81801.0,457514.0,3551.0,58181.0,7314.0
168,2021-01-01,26183.0,2256.0,3138.0,1279.0,308.0,884.0,393.0,57.0,8141.0,...,1815.0,405.0,273.0,845.0,24762.0,1421.0,26183.0,15.0,2695.0,2200.0
169,2021-02-01,59830.0,3193.0,4038.0,2891.0,1743.0,3446.0,768.0,495.0,19110.0,...,2254.0,2980.0,1606.0,3056.0,53928.0,5902.0,59830.0,38.0,9599.0,2251.0

In [15]:
df0=pd.read_csv('D:\machine_learning_Data\건축허가현황.csv', encoding='utf-8')
df1=pd.read_csv('D:\machine_learning_Data\국내건설수주액.csv')