In [18]:
import pandas as pd
import os
csv_path='D:\machine_learning_Data'
csv_list=os.listdir(csv_path)

csv_list_py=[file for file in csv_list if file.endswith('csv')]

In [20]:
csv_list_py

['건축허가현황.csv',
 '국내건설수주액.csv',
 '미분양주택현황.csv',
 '아파트 실거래가격지수.csv',
 '유형별_주택월세통합가격지수.csv',
 '주택건설인허가실적.csv',
 '주택매매가격지수(KB).csv',
 '주택전세가격지수(KB).csv',
 '지역별_지가변동률.csv']

In [24]:
df=pd.read_csv('D:\machine_learning_Data\아파트 실거래가격지수.csv')
df

,Unnamed: 0,도심권[2017.11=100],동북권[2017.11=100],동남권[2017.11=100],부산[2017.11=100],대구[2017.11=100],인천[2017.11=100],광주[2017.11=100],대전[2017.11=100],울산[2017.11=100],...,경북[2017.11=100],경남[2017.11=100],제주[2017.11=100],광역시[2017.11=100],지방광역시[2017.11=100],지방도[2017.11=100],전국[2017.11=100],서울[2017.11=100],수도권[2017.11=100],지방[2017.11=100]
0,2006-01-01,59.3,59.0,62.0,49.7,62.5,62.4,54.2,76.1,48.8,...,66.3,63.0,38.7,NaN,55.8,62.3,62.0,60.6,65.4,59.1
1,2006-02-01,58.1,59.3,63.8,49.4,62.6,62.8,53.9,75.6,48.9,...,66.2,62.9,37.6,NaN,55.7,62.6,62.7,61.7,66.6,59.2
2,2006-03-01,59.5,59.5,66.4,49.1,62.4,63.2,53.8,74.9,49.8,...,66.3,63.2,35.8,NaN,55.6,62.7,63.3,63.2,67.7,59.2
3,2006-04-01,59.5,59.7,67.9,48.6,62.3,63.7,53.7,74.2,50.3,...,66.1,62.8,36.1,NaN,55.4,62.9,63.8,64.1,68.4,59.2
4,2006-05-01,61.4,59.6,67.1,48.2,62.0,64.1,53.0,73.8,51.6,...,66.1,62.7,36.5,NaN,55.3,62.9,64.1,64.1,69.0,59.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2020-09-01,146.7,158.0,147.7,99.7,113.0,111.7,117.0,132.8,94.1,...,89.3,88.5,93.2,NaN,108.1,94.3,114.2,150.6,129.2,101.5
177,2020-10-01,147.1,159.4,148.1,102.7,115.3,111.8,118.4,135.5,95.9,...,90.3,89.4,93.3,NaN,110.5,95.1,115.8,151.7,130.8,103.1
178,2020-11-01,149.4,162.6,150.3,108.8,119.3,113.1,121.5,137.5,100.4,...,92.2,92.1,94.5,NaN,114.9,96.7,118.6,154.1,133.3,106.1
179,2020-12-01,152.5,166.1,153.5,114.6,124.3,115.1,123.2,139.2,104.1,...,95.9,95.3,96.9,NaN,119.1,99.0,121.8,157.3,136.6,109.3
180,2021-01-01,155.1,171.3,158.1,116.0,129.5,119.1,124.8,143.0,106.5,...,97.9,97.0,97.6,NaN,121.7,100.9,125.4,162.2,141.8,111.6

In [15]:
df0=pd.read_csv('D:\machine_learning_Data\건축허가현황.csv', encoding='utf-8')
df1=pd.read_csv('D:\machine_learning_Data\국내건설수주액.csv')